/*nav*/
.logo{
    border-radius: 5px;
}
/* Main Content */
.space{
    margin-top: 80px;
    margin-bottom: 40px;
} 
hr{
    color: blue;
}
img{
    border-radius: 20px;
}
#more{
    padding-left: 30px;
    margin-top:80px;
    
}
/* footer */