/*nav*/
.logo{
    border-radius: 5px;
}
/* Main Content */
.space{
    margin-top: 80px;
    margin-bottom: 40px;
} 
hr{
    color: blue;
    margin-top: 50px;
    
}
img{
    border-radius: 20px;
}
#more{
    padding-left: 30px;
    margin-top:80px;
    
}

/* Articles section */
.alignment{
    margin-left: 30px;
}
/* .firstPart{
    margin-left:30px ;
} */

/* .articleDisplay{
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}
.description1{
    margin-left:40px;
}
.description2{
    margin-right:40px;
} */
img{
    width:100%;
}
/* .imageSection{
    width:100%;

} */
/* .imageSection1{
    height: 150px;
} */


/* projects Section */


/* footer */